<h1>Empleados</h1>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <label for="idEmployee">Id de Empleado</label>
  <input #idEmployee name="idEmployee"
        formControlName="idEmployee"
        type="number" />
        <button type="submit" [disabled]="!formGroup.valid">Buscar</button>
</form>


<table class='table' *ngIf="employees.length > 0">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Contract Type</th>
      <th>Role</th>
      <th>Calc. Annual Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.contractTypeName }}</td>
      <td>{{ employee.role.roleName }}</td>
      <td>{{ employee.calculatedAnnualSalary | currency}}</td>
    </tr>
  </tbody>
</table>
