<h1>Soy Mauricio Jaramillo Garzón</h1>
<p>Bienvenido a la Aplicacion Angular que consume los servicios REST de Employee para Mas Global</p>

<p>Por Favor dirigirse al menu Fetch Data para iniciar la aplicacion.</p>

<p>Contiene las siguientes caracteristicas:</p>
<ul>
  <li><strong>Proyecto de Test</strong></li>
  <li><strong>Front End en Angular</strong></li>
  <li><strong>Api Rest en .Net Core 2.1 VS 2017</strong></li>
  <li><strong>BLL Layer</strong></li>
  <li><strong>DAL Layer</strong></li>
  <li><strong>Model</strong></li>
</ul>
<p>Contiene los siguientes patrones de diseño:</p>
<ul>
  <li><strong>DI</strong></li>
  <li><strong>Factory</strong></li>
</ul>

<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>
